@import url("style/header.css");
@import url("style/banner.css");
:root{
    --cor-de-fundo:#EBECEE;
    --branco:#ffffff;
    --laranja:#EB9B00;
    --azul-degrade:#f26868;
    --fonte-principal:"poppins";
    --fonte-secundario:"josefin sans";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

